$viewports: (
  phone:        "only screen and (max-width: 575px)",
  mobile:       "only screen and (max-width: 991px)",
  tablet:       "only screen and (min-width: 575px) and (max-width: 992px)",
  tablet-min:   "only screen and (min-width: 575px)",
  desktop:      "only screen and (min-width: 992px)",
);

@mixin media-bp($prefix) {
  $media-query: map-get($viewports, $prefix);
  @media #{$media-query} {
    @content;
  }
}

@mixin link_style {
	background-color: $link-active-color;
	margin: -0.2em;
	padding: 0.2em;
	border: 0.2em solid transparent;
	background-clip: padding-box;
	transition: background-color 0.2s;
	line-height: 1.5em;
	border-radius: 5px;
	&:hover,
	&:focus {
		text-decoration: none;
		background-color: $link-bg-color;
	}
  @content;
}

@mixin menu_item {
	display: block;
	font-weight: 600;
	@include media-bp(desktop) {
		padding: $menu-padding;
	}
	@include media-bp(mobile) {
		line-height: 1;
		padding: $menu-padding/1.5;
		font-size: 1.5em;
	}
	&:hover,
	&:focus {
		text-decoration: none;
		@include media-bp(desktop) {
			background-color: $link-bg-color;
		}
	}
}

@mixin modal {
	@include media-bp(desktop) {
		width: calc(100% - #{$website-padding*4});
		margin-left: $website-padding*4;
	}
}

@mixin menu_open {
	.has-menu-open & {
		@include media-bp(mobile) {
			@content;
		}
	}
}

@mixin search_open {
	.has-search-open & {
		@content;
	}
}

@mixin loader {
	width: .85em;
	height: .85em;
	border-radius: 50%;
	border: .2em solid $brand-primary;
	border-bottom-color: transparent;
	animation: rotate360 1s linear infinite;
	&:before {
		content: "";
	}
}


@mixin animationDelay {
	// &:nth-of-type(n+2) {
	// 	animation-delay: 2s;
	// }
	@for $i from 1 through 20 {
		&:nth-of-type(n+#{$i}) {
			animation-delay: #{$i/10}s;
		}
	}
}