.cnotv {
	&__footer {
		padding-bottom: $website-padding;
		ul { padding: 0; }
		ul li {
			list-style: none;
			a {
				&:before {
					content: "+";
					display: inline-block;
					font-weight: bold;
					margin-left: .5em;
					margin-right: .5em;
					height: 1.75em;
					transition: transform 0.2s;
				}
				&:hover{
					&:before {
						transform: rotate(90deg);
					}
				}
			}
			&>ul {
				padding-left: 1em;
			}
		}
	}
}