.cnotv {	
	&__logo {
		margin: $website-padding auto $website-padding*1.5;
		display: block;
		max-height: 60px;
		width: auto;
	}
	&__navbar {
		font-size: 0.8rem;
		font-family: $headings-font-family;
		border-top: $website-border;
		border-bottom: $website-border;
		text-transform: uppercase;
		border-radius: 0;
		display: flex;
		z-index: 1;
		position: relative;

		&__menu {
			@include search_open {
				@include media-bp(tablet-min) {
					display: none;
				}
			}
			@include media-bp(mobile) {
				display: none;
			}

			@include menu_open {
				display: flex;
				position: absolute;
				margin-top: $menu-mobile-offset;
				left: 0;
				right: 0;
				z-index: 1;
				// background-color: $modal-shadow-color;
			}

			&__bar {
				display: flex;
				@include menu_open {
					width: 100%;
					flex-direction: column;
					justify-content: center;
					text-align: center;
					animation: fadeInUp 0.2s;
				}

				a {
					@include menu_item;
				}
			}
		}


		ul, li {
			padding: 0;
			margin: 0;
			list-style: none;
		}

		.current-menu-item a {
			&:before {
			}
		}
		li > ul {
			display: none;
		}
		li + li {
			// border-top: $website-border;
		}

		&__burger {
			@include menu_item;
			border: none;
			background-color: transparent;
			cursor: pointer;
			&:hover,
			&:focus {
				text-decoration: none;
				@include media-bp(desktop) {
					background-color: $link-bg-color;
				}
			}
			@include media-bp(desktop) {
				display: none;
			}

			// if open
			@include menu_open {
				z-index: 2;
				i:before {
					content: $fa-var-times;
				}
			}
			&.is-loading i {
				@include loader;
			}
		}
		&__togglers {
			margin-left: auto;
			display: flex;
			align-self: center;

			@include search_open {
				display: none;
			}

			a {
				@include menu_item;
			}
			i { 
				@include media-bp(desktop) {
					margin-right: 0.8em;
				}
			}
			span {
				@include media-bp(mobile) {
					display: none; 	
				}
			}
		}
	}
	&__search {
		display: none;
		width: 100%;
		align-items: center;
		@include search_open {
			display: flex;
		}

		&>a {
			@include menu_item;
		}
		.search-field {
			width: 100%;
			font-weight: 600;
			text-transform: uppercase;
			@include media-bp(desktop) {
				padding: $menu-padding;
			}
		}
		.screen-reader-text {
			display: none;
		}
		.search-form {
			width: 100%;
		}

		&__reset {
			padding: $menu-padding/2 $menu-padding;
			cursor: pointer;
			display: inline-block;
			&:hover {
				background-color: white;
			}
		}

		&__bar {
			display: flex;
		}

		&__answer {
			padding: $menu-padding/2 $menu-padding;
		}

		&__results {
			position: absolute;
			width: 100%;
			background-color: $link-active-color;
			top: 100%;
			left: 0;
			box-shadow: 0 5px 15px 5px rgba($body-color,0.3);

			a {
				display: block;
				padding: $menu-padding/2 $menu-padding;
				&:hover {
					background-color: white;
				}
			}
		}
	}
}