.cnotv {
	// Single content
	&__single {
		&__header {
			display: flex;
			justify-content: space-between;
		}
		&__nav {
			padding-bottom: $website-padding;
			&__link {
				@include link_style;
				@include media-bp(tablet-min) {
					padding: 1vw 1.2vw;
				}
				@include media-bp(mobile) {
					padding: 0.8em 1em;
				}
			}
		}
	}

	// HOME
	&__hero {
		@include media-bp(tablet-min) {
			padding-bottom: $website-padding;
		}
		@include media-bp(mobile) {
			padding-bottom: $website-padding/2;
		}
	}
}